#img-main {
    position: absolute;
    background: url("../images/brain2.gif");
    width: 1024px;
    height: 1024px;
}

#canvas1 {
    background: transparent;
    position: absolute;
    width: 1024px;
    height: 1024px;
}

html {
    position: fixed;
    width: 1024px;
    height: 1024px;
}
#stack {
    position: relative;
    width: 1024px;
    height: 1024px;
}

body {
    margin: 0;
    overflow: hidden;
    width: 1024px;
    height: 1024px;
  }

#reveal-background {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 1024px;
    height: 1024px;
    background: rgba(0,0,0, 0.65);
    z-index: 5;
}

.reveal {
z-index: 6;
position: absolute;
top: 0;
left: 0;
width: 10rem;
height: 10rem;
right: 0;
bottom: 0;
background: url("../images/brain2.gif") 0% 0% no-repeat fixed;
background-size: 1024px 1024px;
border-radius: 50%;
-webkit-mask-image: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 60%, rgba(255,255,255,0) 70%);
}
